[tool.poetry]
name = "knewkarma"
version = "7.1.2"
description = "A Reddit data analysis toolkit"
authors = ["Richard Mwewa <rly0nheart@duck.com>", "Knew Karma IO <redacted@redacted.com>"]
readme = "README.md"
license = "GPL-3.0+"
keywords = ["reddit", "data-analysis"]
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Programming Language :: Python :: 3",
    "Intended Audience :: Developers",
    "Intended Audience :: Education",
    "Operating System :: OS Independent",
    "License :: OSI Approved :: GNU General Public License v3 or later (GPLv3+)",
    "Natural Language :: English"
]

[tool.poetry.urls]
sponsor = "https://opencollective.com/knewkarma"
homepage = "https://knewkarma.readthedocs.io"
issues = "https://github.com/knewkarma-io/knewkarma/issues"
repository = "https://github.com/knewkarma-io/knewkarma"

[tool.poetry.dependencies]
python = "^3.10"
kraw = "^0.3.3"
matplotlib = { version = "^3.9.2", optional = true }
pandas = "^2.1.4"
rich-click = "^1.8.3"

[tool.poetry.extras]
visualisation = ["matplotlib"]

[tool.poetry.group.dev.dependencies]
flake8 = "^7.1.1"
myst-parser = "^3.0.1"
poetry = "^1.8.3"
pytest = "^8.2.0"
pytest-asyncio = "^0.24.0"
sphinx = "^7.4.7"
sphinx-rtd-theme = "^2.0.0"
tenacity = "^8.3.0"

[tool.poetry.scripts]
knewkarma = "knewkarma._cli:start"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
