[tool.poetry]
name = "knewkarma"
version = "7.0.0"
description = "A Reddit data analysis toolkit"
authors = ["Richard Mwewa <rly0nheart@duck.com>"]
readme = "README.rst"
license = "MIT License"
keywords = ["reddit", "reddit-api", "reddit-data-analysis"]
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Programming Language :: Python :: 3",
    "Intended Audience :: Developers",
    "Intended Audience :: Information Technology",
    "Operating System :: OS Independent",
    "License :: OSI Approved :: MIT License",
    "Natural Language :: English"
]

[tool.poetry.urls]
sponsor = "https://opencollective.com/knewkarma"
homepage = "https://knewkarma.readthedocs.io"
issues = "https://github.com/rly0nheart/knewkarma/issues"
repository = "https://github.com/rly0nheart/knewkarma"

[tool.poetry.dependencies]
python = "^3.11"
aiohttp = "^3.10.5"
karmakaze = "^1.3.0"
pandas = "^2.1.4"
rich-click = "^1.8.3"
matplotlib = { version = "^3.9.2", optional = true }
tokenizers = { version = "^0.19.0", optional = true }
transformers = { version = "^4.44.0", optional = true }

[tool.poetry.extras]
visualisation = ["matplotlib"]
analysis = ["tokenizers", "transformers"]


[tool.poetry.group.dev.dependencies]
flake8 = "^7.1.1"
poetry = "^1.8.3"
pytest = "^8.2.0"
pytest-asyncio = "^0.24.0"
tenacity = "^8.3.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
knewkarma = "knewkarma.cli:start"
