[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "knewkarma"
version = "6.1.4"
description = "A Reddit data analysis toolkit"
authors = ["Richard Mwewa <rly0nheart@duck.com>"]
readme = "README.md"
license = "MIT License"
homepage = "https://knewkarma.readthedocs.io"
documentation = "https://knewkarma.readthedocs.io"
repository = "https://github.com/bellingcat/knewkarma"
keywords = ["reddit", "reddit-api", "reddit-data-analysis"]
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Programming Language :: Python :: 3",
    "Intended Audience :: Information Technology",
    "Operating System :: OS Independent",
    "License :: OSI Approved :: MIT License",
    "Natural Language :: English"
]

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/bellingcat/knewkarma/issues"

[tool.poetry.dependencies]
python = "^3.10"
click = "^8.1.7"
pandas = "^2.1.4"
requests = "^2.32.3"
rich = "^13.3.1"
rich-click = "^1.8.3"

[tool.poetry.group.dev.dependencies]
black = "^24.4.2"
poetry = "^1.8.3"
pytest = "^7.4.3"
tenacity = "^8.3.0"

[tool.poetry.scripts]
knewkarma = "knewkarma.cli:start"
