[Desktop Entry]
Name=Knew Karma
Comment=A Reddit Data Analysis Toolkit
Icon=${SNAP}/snap/gui/icon.png
Exec=${SNAP}/bin/knewkarma
Terminal=true
Type=Application
Categories=Utility;Development;